<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pandemictracker">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic__907500_coin_cryptocurrency_ripple_xrp_icon"
            android:label="CryptoTRACKER"
            android:roundIcon="@drawable/ic__907500_coin_cryptocurrency_ripple_xrp_icon"
            android:supportsRtl="true"
            android:theme="@style/Theme.PandemicTracker">
        <activity
                android:name=".MainActivity"
                android:label="CryptoTRACKER"
                android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>